.user,.program,.programDetail,.config,.material,.client,.io,.operation{
	padding:20px;
	.form-inline{
		width:100%;
		margin-bottom:10px;
    span{
      cursor:pointer;
      margin-right:25px;
      margin-bottom:5px;
    }
		.form-group{
			margin-right:20px;
			label{
				padding-right:5px;
			}
			input.form-control,select.form-control{
				width:130px;
				border-radius:15px;
			}
      input.form-control[id="programName"]{
        width:200px;
      }
      input.form-control[id="programNo"]{
        width:200px;
      }
      input.form-control[id="workOrder"]{
        width:200px;
      }
      input.form-control[id="workOrderNo"]{
        width:200px;
      }
      input.form-control[id="materialNo"]{
        width:200px;
      }
		}
		.btn-group{
			.btn{
        color:#fff;
				width:90px;
        border-radius:0px;
			}
      .btn:hover{
        background-color:#808080;
      }
      .btn_add,.btn_save,.btn_download{
        background-color: #00acec;
      }
      .btn_find,.btn_conserve,{
        background-color: #49bf67;
      }
		}
    .btn{
      width:100px;
      color:#fff;
      border-radius:0px;
    }
    .btn:hover{
      background:#808080;
    }
    .btn_find,.btn_send,.btn_save{
      background-color:#00acec;
    }
    .form-group,.btn-group{
      margin-bottom:5px;
    }
	}
  .modal{
    .modal-dialog{
      width:30%;
      min-width:200px;
      margin:4% auto 0;
      .btn_save{
        width:100px;
        color:#fff;
        background-color:#00acec;
      }
      .btn_save:hover{
        background-color:#808080;
      }
    }
  }
}

.program{
  .programDetail{
    margin-top:-10px;
    .modal{
      min-width:500px;
    }
  }
}

.client,.operation,.io{
  .form-inline{
    .form-group{
      margin-bottom:10px;
      input.form-control,select.form-control{
        width:150px;
        border-radius:15px;
      }
      input[type="date"]{
        width:200px;
      }
    }
    .btn-group{
      margin-bottom:10px;
    }
  }
}
.config{
  .table{
    tr{
      td{
        vertical-align:middle;
        text-align:center;
        input{
          width:80px;
          background:none;
          text-align:center;
          border:1px solid #ccc;
          padding:3px 0;
        }
      }
      th{
        text-align:center;
      }
      td:nth-child(1),th:nth-child(1){
        width:150px;
      }
    }
  }
}
